VITE_SUPABASE_URL=https://pswtelnzzvascdchtznh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzd3RlbG56enZhc2NkY2h0em5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU1MTU1NDIsImV4cCI6MjA3MTA5MTU0Mn0.ZZ_u7X80TL2QhNlayyRGSyLsoTtZIIa7nIPvsqBfjr0